/project/.web-server-pid
/project/app/config/parameters.yml
/project/build/
/project/phpunit.xml
/project/var/*
!/project/var/cache
/project/var/cache/*
!/project/var/cache/.gitkeep
!/project/var/logs
/project/var/logs/*
!/project/var/logs/.gitkeep
!/project/var/sessions
/project/var/sessions/*
!/project/var/sessions/.gitkeep
!/project/var/SymfonyRequirements.php
/project/vendor/
/project/web/bundles/

