{% extends 'base.html.twig' %}

{% block body %}

<p><a href= {{path('platform')}}>GA NAAR MIJN PLATFORM</a></p>
<p><a href= {{path('publisher')}}>GA NAAR MIJN MOBA</a></p>
<div id="container">

    
    <h1>IK BEN EEN PLATFORM</h1>

</div>

{% endblock body%}

